<html>
	<head>
		<script type="text/javascript"> </script>
	</head>

	<body>

		<div id="sliderId">
		</div>
		<%= image_tag("cover3.png", :class => "cover_slika", :size => "1150x350") %>


		<script>
			var funkcija = function() {
				$('#sliderId').ramblingSlider();
			};
			  
			$(window).bind('page:change', funkcija)
			//https://github.com/gonzedge/rambling.slider/wiki/Options

		</script>

		<br>
		<br>
		
		<h2> Newest products </h2>


		<% $all_products = Product.all %>
		<% counter = 0 %>

		<table id="all_products2">
			
			<% $all_products.each do |x| %>

				<% if counter%4 == 0 || counter == 0 %>
					<tr><td>
				<% else %>
					<td>
				<% end %> 

				<%= link_to(image_tag(x.image, size: "150x150"), product_path(x.id), :class => "pic") %> <br>
					<div id="wrapper">
	    				<p class="text_on_image">
	    					
	    					<%= x.name %> <br>
	    					<b><%= x.price %></b>
	    					
	    				</p>
	    				<% counter += 1 %>
					</div>
					</td>	
				<% if counter%4 == 0 || counter == $all_products.length %>
					</tr>
				<% end %>
			<% end %>

			<% counter = 0 %>

		</table>
	</body>
</html>


