// Place all the styles related to the Addresses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.line_in_address_show {
  padding:0px; 
  margin:0px;
}

.first_address {

    padding: 25px;
    border: 1px solid #FFC63B;
}

.address {
  padding: 25px;
}

.first_address_billing {

    padding: 25px;
    border: 1px solid #FFC63B;
}

.address_b {
  padding: 25px;
}

.table2 {
	padding:0px; 
	margin:0px;
}

.default_address {
	border: 1px solid #FFC63B;
}

.checkbox {
	padding-top: 10px;
}

.form-controls {
	width: 300px;
	height: 700px;
}

.drop1 {
	width: 300px;
	height: 700px;
	color:red;

}

.status_table {
  width:330px;
  //border: 1px solid #DADADA;
  position: fixed;
  top: 100px;
  right: 3cm;
  //border-style: dotted gray;
  border-width: 1px;
  border-bottom-color: red;
}

.status_tr {
  padding-left:300px; 
  padding-bottom: 5px;
  border-bottom: 1px solid #000;
  font-size: 12px;
}

.status_11 {
  width:110px;
  text-align: left;
  padding-left: 0px; 
  padding-right: 0px;
  padding-top: 0px;
  padding-bottom: 4px;
  border-bottom: 1px solid black;
}

.status_21 {
  width:110px;
  text-align: center;
  padding-left: 0px; 
  padding-right: 0px;
  padding-top: 0px;
  padding-bottom: 4px;
  border-bottom: 1px solid black;
}

.status_31 {
  width:110px;
  text-align: right;
  padding-left: 0px; 
  padding-right: 0px;
  padding-top: 0px;
  padding-bottom: 4px;
  border-bottom: 1px solid #DADADA;
}

.address_status {
  color: #E44A3B;
}

.address_status2 {
  color: #E44A3B;
}
