// Place all the styles related to the Addresses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.table2 {
	
	padding:0px; 
	margin:0px;
}

.default_address {
	border: 1px solid #FFC63B;
}

.checkbox {
	padding-top: 10px;
}