@import "bootstrap-sprockets";
@import "bootstrap";
   
/*application design auto*/

body {
  font-family: 'Montserrat', sans-serif;
  padding-top: 40px;
  margin-left: auto;
  margin-right: auto;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

.navbar .nav > li > a {
  padding:15px 10px 15px
}

/*ul li:active:after {
   border-bottom: 3px solid #FFC63B;
   bottom: 0;
   content: "";
   left: 0;
   position: absolute;
   width: 130px;
}

ul li:hover:after {
   color: #FFC63B;
   bottom: 0;
   content: "";
   left: 0;
   position: absolute;
   width: 130px;
}*/

.nav_link_image {
  padding: 0px 30px 0px 0px;
}

.nav_link {
  padding: 2px 10px 0px 10px;
}

.nav_link_cart {
  padding: 0px 0px 0px 0px;
}

#navigation:hover {
  color: #F0D234;
}


/*.navbar-left .nav_link .nav2:active {
   border-bottom: 3px solid red;
   color: white;
}*/

.navbar-left li .active {
   //border-bottom: 2px solid #F0D234;
   color: white;
   padding: 2px;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

td {
    padding-left: 1.2cm;
    padding-right: 1.2cm;
    padding-bottom: 1.2cm;
    padding-top: 1.2cm;
}

.image-size {
  max-width: 10px;
  max-height: 10px;
}

#sliderId {
    margin-left: auto;
    margin-right: auto;
    width:10cm;
}

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

#header .primary-nav .nav a:hover {
  text-decoration: underline;
  color: red;
}

/* input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
} */

.btn-primary {
  color: #ffffff;
  background-color: black;
  border-color: black;
  width: 120px;
}

.btn-default {
  width: 120px;
}

.add_to_cart {
  width: 150px;
}

.btn-primary:hover {
  color: black;
  background-color: #F0D234;
  border-color: #F0D234;
}

.btn-primary:focus,
.btn-primary:active,
.btn-primary.active {
  color: black;
  background-color: #FFC63B;
  border-color: #FFC63B;
}


.quantity_field {
  width: 50px;
  height: 30px;
  text-align: center;
}

.product_quantity_field {
    width: 100px;
    height: 30px;
    text-align: center;
}

.size_field {
  width: 150px;
}

* {
    margin: 0;
    padding: 0;
}

/*.shopping-cart {
    display: inline-block;
    background: url('http://cdn1.iconfinder.com/data/icons/jigsoar-icons/24/_cart.png') no-repeat 0 0;
    width: 24px;
    height: 24px;
    margin: 0 10px 0 0;
}*/

.wrapper {
    width: 705px;
    margin: 20px auto;
    padding: 20px;
}

.clear {
    clear: both;
}

.item {
    //background-color: #fff;
    //float: left;
    //margin: 0 10px 10px 0;
    //width: 205px;
    //padding: 10px;
    //height: 290px;
}
.item img {
    display: block;
    margin: auto;
}

.breadcrumb {
    color: black;
    content: "/ ";
    padding: 0 5px;
    background-color: white;
}

.breadcrumb > li + li:before {
    //color: #CCCCCC;
    color: gray;
    content: "/ ";
    padding: 0 5px;
}

.bread {
  color: black;
} 

.bread:hover {
  text-decoration: none;
  color: black;
} 

.bread2 {
  color: gray;
} 

.bread2:hover {
  text-decoration: none;
  color: gray;
} 

.counter {
  font-size: 10px;
  background: #E44A3B;
  color: white;
  width: 1.3em;
  height: 1.3em;
  -moz-border-radius: 1em;
  -webkit-border-radius: 2em;
  border-radius: 2em;
  padding-left: 3px;
  padding-bottom: 3px;

  margin-top: 10px;
  display: none;
}

.error {
  border: solid 2px #FF0000;  
}

.table_total {
  border: 1px solid #DADADA;
}

.cart_part, .delivery_part, .payment_part {
  padding: 22px;
}

.three_steps {
  text-align: right;
}

three_step_line {
  width: 200px;
  text-align: right;
}

.line {
  margin-top: 10px;

  margin-right: 0px;
  margin-left: 28px;
  //max-width: 370px;
}

.footer_left {
  color: gray;
  text-align: left;
  padding-bottom: 20px;
  padding-left: 250px;
}

.footer_right {
  color: gray;
  text-align: right;
  padding-right: 250px;
  padding-bottom: 20px;
}

.footer_category {
  color: gray;
  text-align: right;
}

.footer_line {
  padding-top: 500px;
  padding-bottom: 3px;
}

.footer_link {
  color: gray;
}

