@import "bootstrap-sprockets";
@import "bootstrap";
   
/*application design auto*/

body {
  font-family: 'Montserrat', sans-serif;
  padding-top: 40px;
  margin-left: auto;
  margin-right: auto;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

.navbar .nav > li > a {
      padding:15px 10px 15px
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

td {
    padding-left: 1.2cm;
    padding-right: 1.2cm;
    padding-bottom: 1.2cm;
    padding-top: 1.2cm;
}

.image-size {
  max-width: 10px;
  max-height: 10px;
}

#sliderId {
    margin-left: auto;
    margin-right: auto;
    width:10cm;
}

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

#header .primary-nav .nav a:hover {
  text-decoration: underline;
  color: red;
}

/* input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
} */

.nav_link:hover{
  color: yellow;
}

.btn-primary {
  color: #ffffff;
  background-color: black;
  border-color: black;

}

.btn-primary:hover {
  color: black;
  background-color: #F0D234;
  border-color: #F0D234;
}

.btn-primary:focus,
.btn-primary:active,
.btn-primary.active {
  color: black;
  background-color: #FFC63B;
  border-color: #FFC63B;
}


.quantity_field {
  width: 80px;
}

.size_field {
  width: 150px;
}

.shopping-cart {
    display: inline-block;
    background: url('http://cdn1.iconfinder.com/data/icons/jigsoar-icons/24/_cart.png') no-repeat 0 0;
    width: 24px;
    height: 24px;
    margin: 0 10px 0 0;
}

.breadcrumb {
    color: black;
    content: "/ ";
    padding: 0 5px;
    background-color: white;
}

.breadcrumb > li + li:before {
    //color: #CCCCCC;
    color: gray;
    content: "/ ";
    padding: 0 5px;
}

.bread {
  color: black;
} 

.bread:hover {
  text-decoration: none;
  color: black;
} 

.bread2 {
  color: gray;
} 

.bread2:hover {
  text-decoration: none;
  color: gray;
} 