<% if $single != nil %>
	<h2>Uplatili ste <strong><%= $single %>KM</strong>!</h2>
<% else %>
	<h2>Uplatili ste <strong><%= $total%>KM</strong>!</h2>
<% end %>

<% if $cart_id != nil %>
	<% @ca = $cart_id %>
<% else %>
	<% @ca = cookies[:cart_id] %>
<% end %>

<%= button_to "HOME", item_path(@ca), :class => "btn btn-primary", :method => :delete  %>
